*sh
*pyc
/data/glove.6B
/data/chars.txt
/data/glove.6B.300d.trimmed.npz
/data/tags.txt
/data/words.txt
!/data/.gitkeep
/results
*.DS_Store
data/train.txt
data/test.txt
data/data.txt
data/data_old.txt
